.nopadding { padding: 0; }
.padding-0 { padding: 0; }

.padding-5  { padding-top: 5px; padding-bottom: 5px; }
.padding-10 { padding-top: 10px; padding-bottom: 10px; }
.padding-15 { padding-top: 15px; padding-bottom: 15px; }
.padding-20 { padding-top: 20px; padding-bottom: 20px; }
.padding-25 { padding-top: 25px; padding-bottom: 25px; }

.padding-top-0 { padding-top: 0em; }
.padding-top-5 { padding-top: 0.5em; }
.padding-top-10 { padding-top: 1.0em; }
.padding-top-15 { padding-top: 1.5em; }
.padding-top-20 { padding-top: 2.0em; }
.padding-top-25 { padding-top: 2.5em; }
.padding-top-30 { padding-top: 3.0em; }

.padding-bottom-0 { padding-bottom: 0em; }
.padding-bottom-5 { padding-bottom: 0.5em; }
.padding-bottom-10 { padding-bottom: 1.0em; }
.padding-bottom-15 { padding-bottom: 1.5em; }
.padding-bottom-20 { padding-bottom: 2.0em; }
.padding-bottom-25 { padding-bottom: 2.5em; }
.padding-bottom-30 { padding-bottom: 3.0em; }