.col-md-10.col-md-offset-1
  .signature-generator.margin-20
    .text-align-center.margin-bottom-20
      %h1.generator-title.margin-0 Genera tu propia firma
      %p Introduce tus datos y podrás generar tu propia firma para identificarte de forma oficial ante tus contactos.

    .container-fluid
      .row
        .col-md-10.col-md-offset-1
          #signature-preview.margin-bottom-10
            .container-fluid
              .row
                .col-md-6.input-data
                  %p.name Nombre Apellido Apellidos
                  %p.role Cargo
                  %p.email email@urbegi.com
                  %p.tel Tel. 94 680 19 34
                  %p.web http://urbegi.com
                .col-md-3.corporate-logo.text-align-center
                  = image_tag 'logos/tenzing.png'
                .col-md-3.corporate-logo.text-align-center
                  = image_tag 'logos/urbegi.png'